<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
    <link rel="stylesheet" href="/css/wikis.css">
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container pt-4">
      <% include ../static/partials/messages.ejs %>
      <h1>Edit Wiki</h1>

      <form action="/wikis/<%= wiki.id %>/update" method="post">
        <div class="form-row">
          <div class="form-group col-lg-6">
            <label for="title">Wiki title</label>
            <input type="text" value="<%= wiki.title %>" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
            <small class="text-muted" id="titleHelp">title must be 2 or more characters in length.</small>
          </div>
          <div class="form-group col-lg-2 ml-4">
            <label for="privacy">Privacy Setting:</label>
            <div>
              <input type="radio" id="public" name="privacy" value="false" <%= wiki.private ? null : "checked" %>>
              <label for="public">Public</label>
            </div>
            <div>
              <input type="radio" id="private" name="privacy" value="true" <%= wiki.private ? "checked" : null %> <%= currentUser.isPremium() ? null : "disabled" %>>
              <label for="private">Private <small class="text-muted"><%= currentUser.isPremium() ? null : "(Premium Only)" %></small></label>
            </div>
          </div>
          <% if (wiki.private) { %>
            <div class="col-lg-3">
              <p>Collaborators:</p>
              <div class="form-group border p-2 collaborators">
                <% users.sort( (a, b) => {
                  let nameA = a.name.toUpperCase();
                  let nameB = b.name.toUpperCase();
                  if (nameA < nameB) {
                    return -1;
                  }
                  if (nameA > nameB) {
                    return 1;
                  }
                  return 0;
                }).forEach( user => { %>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="check-<%= user.id %>" value="<%= user.id %>" name="collaborators"
                    <% if (user.id == currentUser.id) { %>
                      checked
                    <% }
                      collaborators.forEach( collaborator => {
                        if (collaborator.id == user.id) { %>
                          checked
                        <% }
                      }) %> >
                    <label class="custom-control-label" for="check-<%= user.id %>"><%= user.name %></label>
                  </div>
                <% }) %>
              </div>
            </div>
          <% } %>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="body">Wiki body <small class="text-muted">(Markdown Supported)</small></label>
              <textarea id="text-input" oninput="convertText()" rows="6" cols="60" class="form-control" name="body" placeholder="Enter Wiki body"><%= wiki.body %></textarea>
              <small class="text-muted" id="bodyHelp">body must be 10 or more characters in length.</small>
            </div>
            <div class="form-group col-lg-6">
              <p>Preview:<p>
              <div id="preview" class="border p-2"></div>
            </div>
          </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/wikis/<%= wiki.id %>"><button class="btn btn-outline-primary">Cancel</button></a>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
    <script src="/js/markdown_bundle.js"></script>
    <% include ../static/partials/foot.ejs %>

  </body>
</html>