<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Wikis</h1>
      <% if(currentUser) { %>
        <a href="/wikis/new" class="btn btn-success">New Wiki</a>
      <% }
      if (privateWikis) { %>
        <h4>Private:</h4>
        <ul class="list-group">
          <% privateWikis.sort( (a, b) => {
            let titleA = a.title.toUpperCase();
            let titleB = b.title.toUpperCase();
            if (titleA < titleB) {
              return -1;
            }
            if (titleA > titleB) {
              return 1;
            }
            return 0;
          }).forEach( wiki => { %>
            <li class="list-group-item">

              <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              <small class="text-muted" style="float: right">Updated: <%= wiki.updatedAt.toLocaleString() %></small>
            </li>
          <% }) %>
        </ul>
        <hr>
      <% } %>
      <h4>Public:</h4>
      <ul class="list-group">
        <% wikis.sort( (a, b) => {
          let titleA = a.title.toUpperCase();
          let titleB = b.title.toUpperCase();
          if (titleA < titleB) {
            return -1;
          }
          if (titleA > titleB) {
            return 1;
          }
          return 0;
        }).forEach( wiki => { %>
          <li class="list-group-item">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
            <small class="text-muted" style="float: right">Updated: <%= wiki.updatedAt.toLocaleString() %></small>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
